scipy 
scikit-learn 
scikit-image
plyfile 
opencv-python 
matplotlib 
tqdm 
kornia 
imageio
timm 
pillow_heif
omegaconf
einops 
loguru yacs  
pytorch_lightning==2.0
xFormers==0.0.19
simple_lama_inpainting
